---
import Page from '../layouts/Page.astro';
---

<Page
	title="About Bob Matyas | Web Developer - Grand Rapids, MI"
	description="Bob Matyas is a web developer in Grand Rapids, MI."
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
<div class="main">
	<h1 class="main__header">About Bob Matyas</h1>

	<div class="page">
		<p>
			I’ve been building and exploring the web since the dial-up days of the 1990s.
		</p>

		<p>
			During the day I work at{" "}
			<a href="https://automattic.com">Automattic</a>, helping shape the future of the web as part of a team focused on <a href="https://jetpack.com">Jetpack</a>.
		</p>

		<p>
			Outside of work, this site is my digital garden--a place where I write about web development, the IndieWeb, and whatever else I’m tinkering with.
		</p>

		<p>
			When I’m not online, you'll likely find me in the
			woods, foraging for wild plants, reading a good book, or cooking
			(hopefully) tasty vegan food.
		</p>

		<h2>Get in Touch</h2>

		<p>
			Curious to connect, chat, or collaborate? {" "}
			<a href="/contact/">Get in Touch</a>.
		</p>
	</div>
</div>
</Page>
