---
import Page from '../layouts/Page.astro';
---

<Page
	title="About Bob Matyas | Web Developer - Grand Rapids, MI"
	description="Bob Matyas is a web developer in Grand Rapids, MI."
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
<div class="main">
	<h1 class="main__header">About Bob Matyas</h1>

	<div class="page">
	  <div class="md:grid md:grid-cols-4 md:gap-10">
		<div class="md:grid-col-start-1 md:col-span-3">
		  <p>
			I&apos;ve been puttering around on the Internet since the 1990s.
		  </p>

		  <p>
			During the day I work at{" "}
			<a href="https://automattic.com">Automattic</a>, where I help make
			the web a better place.
		  </p>

		  <p>
			I use this site primarily as a digital garden and write about web
			development, the indieweb, and other random stuff.
		  </p>

		  <p>
			When I’m not working online, I’m most likely to be found in the
			woods, riding a bike, foraging for wild plants, or cooking
			(hopefully) tasty vegan food.
		  </p>

		  <h2>Get in Touch</h2>

		  <p>
			If you want to get in touch, you can use{" "}
			<a href="/contact/">this form</a>.
		  </p>
		</div>

		<div class="md:col-span-1">
		  <div class="widget p-2 rounded-md text-sm font-sans shadow-sm border border-red-100">
			<h3 class="text-md font-sans text-bold uppercase mt-2 px-2 font-bold text-slate-700">
			  Skills
			</h3>
			<ul class="px-2 flex flex-row flex-wrap gap-2">
			  <li class="skills__item">HTML</li>
			  <li class="skills__item">CSS</li>
			  <li class="skills__item">JavaScript</li>
			  <li class="skills__item">WordPress</li>
			  <li class="skills__item">React</li>
			  <li class="skills__item">SASS</li>
			  <li class="skills__item">Adobe CC</li>
			</ul>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</Page>
