---
import Page from '../layouts/Page.astro';
---

<Page
	title="Contact"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
<div class="main">
	<h2 class="main__header">Contact</h2>

	<div class="page">
	  <div class="contact__page">
		<p>
		  Want to get in touch? You can use this form to send me an email.
		</p>

		{/* eslint-disable-next-line react/no-unknown-property */}
		<form
		  name="contact"
		  data-netlify="true"
		  netlify-honeypot="goodluck"
		>
		  <input type="hidden" name="form-name" value="contact" />
		  <p class="hidden">
			<label>
			  Don’t fill this out if you’re human:{" "}
			  <input name="goodluck" type="text" />
			</label>
		  </p>

		  <p>
			<label for="name">Name</label>
			<input
			  type="text"
			  name="name"
			  id="name"
			  required={true}
			  placeholder="Enter your name."
			/>
		  </p>
		  <p>
			<label for="email">Email</label>
			<input
			  type="email"
			  name="email"
			  id="email"
			  placeholder="Enter your email address."
			/>
		  </p>
		  <p>
			<label for="message">Message</label>
			<textarea
			  name="message"
			  id="message"
			  rows={6}
			  required={true}
			  placeholder="Enter your message."
			/>
		  </p>
		  <ul>
			<li>
			  <input type="submit" value="Send Message" class="button" />
			</li>
		  </ul>
		</form>
	  </div>
	</div>
  </div>