---

---

      <nav class="header__nav">
        <ul class="flex flex-row gap-4 pt-2 pb-5">
          <li class="header__nav__item">
            <a href="/" class="block p-2">
              Home
            </a>
          </li>
          <li class="header__nav__item">
            <a href="/about/" class="block p-2">
              About
            </a>
          </li>
          <li class="header__nav__item">
            <a href="/projects/" class="block py-2 px-4">
              Projects
            </a>
          </li>
          <li class="header__nav__item">
            <a href="/blog/" class="block py-2 px-4">
              Blog
            </a>
          </li>
        </ul>
      </nav>