---
import Page from '../../../layouts/Page.astro';
import { kebabCase } from '../../../utils/kebabCase';

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../../../content/blog/*.md');
  

  const uniqueTags:any = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

  return uniqueTags.map((tag:string) => {
    const filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag));
	const normalizedTag = kebabCase(tag);
	return {
      params: { tag: normalizedTag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;


---
<Page title={tag}>
	<div class="main">
		<h1 class="main__header">Blogs Posts about {tag}</h1>
	
		<div class="page">
  			<ul>
    			{
				// @ts-expect-error: resolve later
				posts.map((post) => <li class="p-2"><a href=`../../blog/${(post.file.split('/blog/')[1]?.replace('.md', ''))}`>{post.frontmatter.title}</a></li>)}
  			</ul>
		</div>
	</div>
</Page>